# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraform.lock.hcl

# Env / Secrets
.env
*.secret
*.key
*.pem

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/

# Docker
*.log

# System
.DS_Store
Thumbs.db

